# Ignore everything else
/*

# Only track these directories:
!Content/
Content/*

!Content/MyAnimation/
!Content/MyContent/
!Source/

!/Content/RPG_Hero_Character/
Content/RPG_Hero_Character/*
!/Content/RPG_Hero_Character/Assets/
/Content/RPG_Hero_Character/Assets/*
!/Content/RPG_Hero_Character/Assets/Meshes/

!/Content/LearningKit_Games/
/Content/LearningKit_Games/*
!/Content/LearningKit_Games/Maps/
/Content/LearningKit_Games/Maps/LearningKit_Robotics_Showcase.umap

!/Content/FishMan/
Content/FishMan/*
!/Content/FishMan/Textures__Materials/
Content/FishMan/Textures__Materials/*
!/Content/FishMan/Textures__Materials/Fishman_1.uasset

# But do not ignore the .gitignore itself
!.gitignore